---
title: "Client Report - What's in a name?"
subtitle: "Course DS 250"
author: "Nicholas Zavala"
format:
  html:
    self-contained: true
    page-layout: full
    title-block-banner: true
    toc: true
    toc-depth: 3
    toc-location: body
    number-sections: false
    html-math-method: katex
    code-fold: true
    code-summary: "Show the code"
    code-overflow: wrap
    code-copy: hover
    code-tools:
        source: false
        toggle: true
        caption: See code
    
---

In [23]:
#| label: libraries
#| include: false
import pandas as pd
import altair as alt
import numpy as np
import math

from IPython.display import Markdown
from IPython.display import display
from tabulate import tabulate

## Elevator pitch

_The tools that I used during this project were mainly Python-Pandas and Python-Altair. In my project, I look to analyze a data set that contains historical information about names and answer the project questions._

In [2]:
#| label: project data
#| code-summary: Read and format project data
# Include and execute your code here

data = pd.read_csv("https://github.com/byuidatascience/data4names/raw/master/data-raw/names_year/names_year.csv")

__Highlight the grand questions__

## GRAND QUESTION 1

__How does your name at your birth year compare to its use historically?__

_The name “nicholas” gradually increased in popularity until the mid 1970’s where the name became very popular and stayed very popular untill the early 2000’s where it saw a major decline in popularity._

In [28]:
data.head()

felisha = data.query('name == "Felisha"')

felisha.sort_values(by='year').head()

,name,year,AK,AL,AR,AZ,CA,CO,CT,DC,...,TN,TX,UT,VA,VT,WA,WI,WV,WY,Total
135125,Felisha,1964,0.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,20.0
135126,Felisha,1965,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,...,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0
135127,Felisha,1966,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25.0
135128,Felisha,1967,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,24.0
135129,Felisha,1968,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,18.0

In [4]:
#| label: GQ1
#| code-summary: Read and format data

data.head()

data_birth = data.query('name ==  "Nicholas"').sort_values(by='year')

data_birth = data_birth[['name','year','Total']]

data_birth.head(20)

            name  year   Total
288539  Nicholas  1910   188.0
288540  Nicholas  1911   257.0
288541  Nicholas  1912   641.0
288542  Nicholas  1913   732.0
288543  Nicholas  1914  1109.0
288544  Nicholas  1915  1377.0
288545  Nicholas  1916  1367.0
288546  Nicholas  1917  1362.0
288547  Nicholas  1918  1438.0
288548  Nicholas  1919  1272.0
288549  Nicholas  1920  1295.0
288550  Nicholas  1921  1500.0
288551  Nicholas  1922  1367.0
288552  Nicholas  1923  1421.0
288553  Nicholas  1924  1449.0
288554  Nicholas  1925  1295.0
288555  Nicholas  1926  1067.0
288556  Nicholas  1927  1031.5
288557  Nicholas  1928  1166.0
288558  Nicholas  1929  1158.0

In [5]:
#| label: GQ1 table
#| code-summary: table example
#| tbl-cap-location: top
alt.Chart(data_birth).mark_line().encode(x=alt.X('year',axis=alt.Axis(title='Year',format='Y')),
                                         y=alt.Y('Total',axis=alt.Axis(title='Total Times Name Used'))).properties(title='The name: "Nicholas" over time',
                                                                                                                   width=500,
                                                                                                                   height=500)

alt.Chart(...)

## GRAND QUESTION 2

__If you talked to someone named Brittany on the phone, what is your guess of his or her age? What ages would you not guess?__

_It’s very interesting to see the history of the name “Brittany” over time. If I were to encounter someone named Brittany, chances are they are between the age of 27-38 where the mid to early 30’s is especially likely. It’s very unlikely to meet some named Brittany who is 42 years old or older._

In [6]:
#| label: GQ2
#| code-summary: Read and format data

data_brittany = data.query('name == "Brittany"').sort_values('year')

data_brittany['total_allTime'] = data_brittany['Total'].sum()

data_brittany['percent'] = round((data_brittany['Total'] / data_brittany['total_allTime']) * 100,4)

data_brittany['age'] = 2023 - data_brittany['year']

data_brittany = data_brittany[['name','year','age','percent']]

data_brittany.head(20)

           name  year  age  percent
53205  Brittany  1968   55   0.0015
53206  Brittany  1969   54   0.0037
53207  Brittany  1970   53   0.0098
53208  Brittany  1971   52   0.0247
53209  Brittany  1972   51   0.0482
53210  Brittany  1973   50   0.0507
53211  Brittany  1974   49   0.0604
53212  Brittany  1975   48   0.0845
53213  Brittany  1976   47   0.0928
53214  Brittany  1977   46   0.1367
53215  Brittany  1978   45   0.1806
53216  Brittany  1979   44   0.2331
53217  Brittany  1980   43   0.4220
53218  Brittany  1981   42   0.5190
53219  Brittany  1982   41   0.9438
53220  Brittany  1983   40   1.3356
53221  Brittany  1984   39   2.3386
53222  Brittany  1985   38   4.2750
53223  Brittany  1986   37   5.4487
53224  Brittany  1987   36   5.7444

In [7]:
#| label: GQ2 chart
#| code-summary: plot example
#| fig-align: center
alt.Chart(data_brittany).mark_line().encode(x=alt.X('age',axis=alt.Axis(title="Brittany's Age")),
                                         y=alt.Y('percent',axis=alt.Axis(title='Percent Brittany was born during year'))).properties(title="Brittany's Age Predictions based on historical records",
                                                                                                                   width=500,
                                                                                                                   height=500)

alt.Chart(...)

## GRAND QUESTION 3

__Mary, Martha, Peter, and Paul are all Christian names. From 1920 - 2000, compare the name usage of each of the four names. What trends do you notice?__

_It looks like the name “Mary” was by far the most popular of the two names. All of the names showed a similar trend, during the late 1940’s to the 1960’s the names were all very popular and have been mostly a decline since._

In [9]:
#| label: GQ3
#| code-summary: Read and format data
names = ['Mary','Martha','Peter','Paul']

data_names = data.query("1920 <= year <= 2000 and name in @names").sort_values(by=['name','year'])

data_names = data_names[['name','year','Total']]

data_names.head(20)

          name  year   Total
264124  Martha  1920  8705.0
264125  Martha  1921  9254.0
264126  Martha  1922  9018.0
264127  Martha  1923  8731.0
264128  Martha  1924  9163.0
264129  Martha  1925  8757.0
264130  Martha  1926  8557.0
264131  Martha  1927  8088.5
264132  Martha  1928  8245.0
264133  Martha  1929  7381.5
264134  Martha  1930  7830.0
264135  Martha  1931  7248.5
264136  Martha  1932  7329.5
264137  Martha  1933  6905.0
264138  Martha  1934  7603.0
264139  Martha  1935  7383.5
264140  Martha  1936  7176.5
264141  Martha  1937  7645.0
264142  Martha  1938  8017.5
264143  Martha  1939  7956.5

In [10]:
#| label: GQ3 chart
#| code-summary: plot example
#| fig-align: center
alt.Chart(data_names).mark_line().encode(x=alt.X('year',axis=alt.Axis(title='Year',format='Y')),
                                         y=alt.Y('Total',axis=alt.Axis(title='Total Times Name Used')),
                                         color=alt.Color('name:N', legend=alt.Legend(title='Name')),
                                         tooltip=['year','Total','name']).properties(title='Christian names usage over time',width=500,height=500)

alt.Chart(...)

## GRAND QUESTION 4

__Think of a unique name from a famous movie. Plot the usage of that name and see how changes line up with the movie release. Does it look like the movie had an effect on usage?__

_Daniel Radcliff, the actor of Harry Potter in the Harry Potter franchise. The name has been in a gradual decline over time but it seems that during the years 2002-2007 the name “Daniel” did spike in popularity a couple times which is when the first movies from the Happy Potter franchose came out which may have some correlation with the small spikes during those years._

In [13]:
#| label: GQ4
#| code-summary: Read and format data

data_daniel = data.query('year >= 1995 and name == "Daniel"').sort_values(by=['year'])

data_daniel = data_daniel[['name','year','Total']]

data_daniel.head(20)

         name  year    Total
87904  Daniel  1995  20496.0
87905  Daniel  1996  19971.0
87906  Daniel  1997  18617.5
87907  Daniel  1998  18688.5
87908  Daniel  1999  18397.0
87909  Daniel  2000  16950.5
87910  Daniel  2001  17067.0
87911  Daniel  2002  19686.0
87912  Daniel  2003  17525.0
87913  Daniel  2004  17451.0
87914  Daniel  2005  17478.5
87915  Daniel  2006  18137.5
87916  Daniel  2007  19129.0
87917  Daniel  2008  15819.0
87918  Daniel  2009  16333.0
87919  Daniel  2010  15172.5
87920  Daniel  2011  15258.0
87921  Daniel  2012  14251.0
87922  Daniel  2013  13702.0
87923  Daniel  2014  13378.5

In [14]:
#| label: GQ4 chart
#| code-summary: plot example
#| fig-align: center

alt.Chart(data_daniel).mark_line().encode(x=alt.X('year',axis=alt.Axis(title='Year',format='Y')),
                                         y=alt.Y('Total',axis=alt.Axis(title='Total Times Name Used'))).properties(title='The name: "Daniel" over time',
                                                                                                                   width=500,
                                                                                                                   height=500)

alt.Chart(...)